
<div class="container-fluid page">

    <div class="page-header">
        <h1>Admin CRUD</h1>
    </div>

    <div class="table-responsive" >
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> User Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> First Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Last Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Email</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Details</th>
                <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.users">
                <td>{{user.userName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a ng-click="model.findDetail($index)" class="btn btn-info btn-block" aria-label="Left Align">
                        DETAILS</a>
                </td>
                <td>
                    <a ng-click="model.deleteUser($index)" class="btn btn-danger btn-block" aria-label="Left Align">
                        DELETE</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-show="model.user!=null">
        <div class="col-md-6">
        <table class="table table-resposive table-hover">

                <thread>
                    <th>User Profile Attributes</th>
                    <th>Values</th>
                </thread>

                <tbody>
                <tr>
                    <td><label class="control-label">First Name:</label></td>
                    <td>{{model.user.firstName}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">Last Name:</label></td>
                    <td>{{model.user.lastName}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">Email:</label></td>
                    <td>{{model.user.email}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">DOB</label></td>
                    <td>{{model.user.dob}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">Country</label></td>
                    <td>{{model.user.country}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">State</label></td>
                    <td> {{model.user.state}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">City</label></td>
                    <td> {{model.user.city}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">Address</label></td>
                    <td>{{model.user.address}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">Zip Code</label></td>
                    <td>{{model.user.zipCode}}</td>
                </tr>
                <tr>
                    <td><label class="control-label">Contact No.</label></td>
                    <td>{{model.user.contact}}</td>
                </tr>
                </tbody>
        </table>
    </div>
         <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> From</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> For</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Review</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rve in model.reviews">
                    <td>{{rve.fromUser}}</td>
                    <td>{{rve.toUser}}</td>
                    <td>{{rve.review}}</td>
                    <td>{{rve.rating}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
