<!-- Intro Section -->
<section id="intro" class="intro-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3>Login For Following Privilege</h3>
                    <h6>Email: alice@abc.com Password: alice</h6>
                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation">Profile</li>
                        <li role="presentation">Create a Carpool</li>
                        <li role="presentation">Edit Profile</li>
                        <li role="presentation">My Carpools</li>

                    </ul>
                </div>

                <div class="page-header">
                    <h3>CRUD & API USAGES</h3>
                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation"><a href="#/carpoolcrud">CarPool/API CRUD</a></li>
                        <li role="presentation"><a href="#/admin">Admin CRUD</a></li>
                        <li role="presentation"><a href="#/message">Message CRUD</a></li>
                        <li role="presentation"><a href="#/ratingcrud">Rating CRUD</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row" ng-controller="HomeController">
            <div class="col-lg-12">
                <div class="header">
                <h1> Current Carpools</h1>
                </div>
                <br/>
                <br/>
                    <div class="table table-responsive" id="map"></div>
                    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                        <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                            <label id="names" >{{marker.title}}</label></a>
                    </div>
            </div>
        </div>
    </div>
</section>


<!-- Services Section -->
<section id="services" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>
            </div>
        </div>
    </div>
</section>

