<div id="login">
<div class="container ">
    <div id="contact" class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2 class="main-title nn">Login</h2>
            <hr>
            <div class="divide50"></div>
        </div>

        <div class="col-md-6 col-xs-12 col-md-offset-3 alert alert-danger" ng-if="model.error" role="alert">
            {{model.error}}
            <br>
        </div>

        <div class="inner contact">
            <div class="contact-form">
                <form id="contact-us">

                    <div class="col-md-6 col-xs-12 col-md-offset-3 " data-animation="fadeInLeft" data-animation-delay="300">
                        <input type="text" name="name" id="name" required="required"  ng-model="model.user.email" class="form" placeholder="Userame/Email" />
                        <input type="password" name="subject" id="subject" required="required"  ng-model="model.user.password" class="form" placeholder="Password" />
                    </div><!-- End Left Inputs -->

                    <!-- Bottom Submit -->
                    <div class="col-md-6 col-xs-12 col-md-offset-3">
                        <!-- Send Button -->
                        <a type="submit" id="submit" name="submit" ng-click="model.login(model.user)" class="btn form-btn">Sign-In</a>
                    </div><!-- End Bottom Submit -->
                    <!-- Clear -->
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>