<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea ng-model="model.message.message" rows="3" class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                <a type="button" ng-click="model.sendMessage()" class="btn btn-primary">Send message</a>
            </div>
        </div>
    </div>
</div>


<div class="profile_continer bootstrap snippet profile_page">
    <div class="profile_row">
        <div class="profile_panel">
            <div class="cover-photo">
                <div class="fb-timeline-img">
                    <img src="http://lorempixel.com/930/287/nature/8/" alt="">
                </div>
                <div class="fb-name">
                    <h2><a href="#">{{model.user.firstName}} {{model.user.lastName}}</a></h2>
                </div>
            </div>

            <div class="panel-body">
                <div class="profile-thumb">
                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>
                <div class="fb-user-mail">
                    <i class="fa fa-user"> {{model.user.username}}</i>
                </div>
                <div class="fb-user-mail">
                    <i class="fa fa-map-marker"> {{model.user.state}},{{model.user.country}}</i>
                </div>

                <div class="fb-user-mail">
                    <i class="fa fa-envelope-o"> {{model.user.email}}</i>
                </div>

                <div class="fb-user-mail">
                    <i class="fa fa-phone"> {{model.user.contact}}</i>
                </div>

                <div class="pull-right">
                <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-comments-o"></i>
                    Message User
                </a>
                </div>

            </div>
        </div>

        <div class="profile_panel profile-info">
                <form>
                    <textarea ng-model="model.review.review" class="form-control input-lg p-text-area" rows="2" placeholder="Your Opinion Matters"></textarea>
                </form>
                <footer class="panel-footer">
                    <a ng-click="model.createReview()" class="btn btn-primary pull-right">
                        <i class="fa fa-check-square-o"></i>
                        Post Review
                    </a>
                    <div class="nav">
                        <div id="stars" class="starrr"></div>
                        <div id="count"></div> stars
                    </div>
                </footer>
        </div>

        <div class="profile_panel" ng-repeat="review in model.reviews">
            <div class="panel-body">

                <div class="fb-user-thumb">
                    <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                </div>

                <div class="fb-user-details">
                    <h3><a href="#" class="#">{{review.fromUser}}</a></h3>
                    <p>{{review.created | date}}</p>
                    <p>{{review.rating}} stars</p>
                </div>



                <div class="clearfix"></div>

                <p class="fb-user-status">
                    {{review.review}}
                </p>

                <div class="fb-status-container fb-border">
                    <div class="fb-time-action">
                        <a href="#" title="Find This Userful"> <i class="fa fa-thumbs-up"></i> Useful</a>
                        <span>-</span>
                        <a href="#" title="Not Userful"><i class="fa fa-thumbs-down"></i> Not Useful</a>
                        <span>-</span>
                        <a href="#" title="Send this to friend or post it on your time line"> <i class="fa fa-hand-stop-o"></i> Report</a>
                    </div>
                </div>

                <div class="fb-status-container fb-border fb-gray-bg">
                    <div class="fb-time-action like-info">
                        <a>40 Users</a>
                        <span>find this useful!</span>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
