
<!-- Intro -->
<div class="page">
    <div class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="text-center">
                    <h2 class="main-title">User Profile</h2>
                    <hr>
                </div>
            </div>

            <div class="divide50"></div>

            <div class="row well clearfix">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" >
                    </div>
                </div>

                <ol class="progress-list col-sm-offset-1 col-sm-5">

                    <li>
                        <label class="control-label">First Name:</label>
                            {{model.user.firstName}}
                    </li>

                    <li>
                        <label class="control-label">Last Name:</label>
                            {{model.user.lastName}}
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">User Name:</label>
                                {{model.user.username}}
                        </div>
                    </li>

                    <li>

                        <div class="form-group">
                            <label class="control-label">Email:</label>
                                {{model.user.email}}
                         </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">DOB</label>
                                {{model.user.dob}}
                         </div>
                    </li>

                </ol>

                <ol class="progress-list col-sm-4">

                    <li>
                        <div class="form-group">
                            <label class="control-label">Country</label>
                                {{model.user.country}}
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">State</label>
                                {{model.user.state}}
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">City</label>
                            {{model.user.city}}
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            {{model.user.address}}
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">Zip Code</label>
                            {{model.user.zipCode}}
                        </div>
                    </li>

                    <li>
                        <div class="form-group">
                            <label class="control-label">Contact No.</label>
                            {{model.user.contact}}
                        </div>
                    </li>

                </ol>

            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
</div>
<!-- /.light-wrapper -->
</div>
<!-- /Intro -->


<div class="container body_profile">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="well well-small clearfix">

                <div class="row-fluid">
                    <div class="col-md-2 col-xs-12">
                        <img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=125" class="img-polaroid"/>
                    </div>

                    <div class="col-md-4 col-xs-12">

                    </div>

                    <div class="col-md-6 col-xs-12">

                    </div>
                    <!--Body content-->
                </div>
            </div>

            <div class="well clearfix">
                <img class="pull-right" src="http://kcdn3.klout.com/static/images/developers/dev-assets/powered-by-klout.png" width="150px"/>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid page">

    <div class="row">
        <div class="page-header">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="#/showprofile">Profile</a></li>
                <li role="presentation"><a href="#/carpool">Create a Carpool</a></li>
                <li role="presentation"><a href="#/editprofile">Edit Profile</a></li>
                <li role="presentation"><a href="#/usercarpool">My CarPools</a></li>
            </ul>
        </div>

        <div class="col-md-10">
            <form class="form-horizontal">


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="#/editprofile" class="btn btn-success btn-block">Edit Profile</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>