<div class="container page">

    <div class="col-md-4 col-md-offset-4 text-center">
        <h2 class="main-title">Register</h2>
        <hr>
        <div class="divide50"></div>
    </div>

    <div ng-if="model.error" class="alert alert-success" role="alert">
        {{model.error}}
    </div>
    <!-- Step Wizard -->
    <div class="stepwizard" >

        <div class="stepwizard-row setup-panel">

            <div class="row" ng-show="!model.show2">
                <div class="col-md-12" ng-show="model.x == 3">
                    <div class="progress">
                        <div class="one primary-color"></div><div class="two primary-color"></div><div class="three primary-color"></div>
                        <div class="progress-bar primary-color" style="width: 100%;"></div>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="progress" ng-show="model.x == 1">
                        <div class="one primary-color"></div><div class="two no-color"></div><div class="three no-color"></div>
                        <div class="progress-bar primary-color" style="width: 25%;"></div>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="progress" ng-show="model.x == 2">
                        <div class="one primary-color"></div><div class="two primary-color"></div><div class="three no-color"></div>
                        <div class="progress-bar primary-color" style="width: 52%;"></div>
                    </div>

                </div>

            </div>

            <div ng-show="model.show2" class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle" id="btn-circle">1</a>
                <p>Step 1</p>
            </div>
            <div ng-show="model.show2" class="stepwizard-step">
                <a  href="#step-2" type="button" class="btn btn-default btn-circle" id="btn-circle2" disabled="disabled">2</a>
                <p>Step 2</p>
            </div>
            <div ng-show="model.show2" class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" id="btn-circle1" disabled="disabled">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Step Wizard END -->
    <!-- quote form -->
    <form class="form-horizontal" role="form" method="post" autocomplete="on" spellcheck="true">

        <fieldset><!-- form contents -->

            <!-- Wizard STEP 1 -->
            <div class="row setup-content" id="step-1">
                <div class="col-sm-12">
                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">First Name</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input autocomplete="on" type="text" ng-model="model.user.firstName" placeholder="first name" class="form-control" required>
                                <span class="input-group-addon label-danger"><i class="fa fa-user fa-lg text-white"></i></span>
                            </div>
                        </div>

                        <label class="col-sm-2 control-label" for="textinput">Last Name</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input autocomplete="on" type="text" ng-model="model.user.lastName" placeholder="last name" class="form-control" required>
                                <span class="input-group-addon label-danger"><i class="fa fa-user fa-lg text-white"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">* User Name</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input autocomplete="on" type="text" ng-model="model.user.username" placeholder="unique user name" class="form-control" required>
                                <span class="input-group-addon label-danger"><i class="fa fa-user-secret fa-lg text-white"></i></span>
                            </div>
                            <!--
                            <a href title="" data-toggle="modal" data-target="#exampleModal" data-original-title="Send message">Find Unique Username</a>
                            -->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">DOB</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input autocomplete="on" type="date" ng-model="model.user.dob" placeholder="unique user name" class="form-control" required>
                                <span class="input-group-addon label-danger"><i class="fa fa-calendar-check-o fa-lg text-white"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Email</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input ng-model="model.user.email" type="email" placeholder="Email Address" class="form-control" required>
                                <span class="input-group-addon label-danger"><i class="fa fa-envelope fa-lg text-white"></i></span>
                            </div>
                        </div>
                    </div>

                    <button ng-click="model.x=2" class="btn btn-primary nextBtn col-xs-12 col-md-6  pull-right extend" type="button" >Next Step <i class="fa fa-angle-double-right"></i> </button>
                </div>
            </div>
            <!-- Wizard STEP 1 END -->

            <!-- Wizard STEP 2 -->
            <div class="row setup-content" id="step-2">
                <div class="col-sm-12">

                    <div class="form-group">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Country</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input ng-model="model.user.country" type="text" placeholder="Your Country" class="form-control" required>
                                    <span class="input-group-addon label-danger"><i class="fa fa-flag"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">State</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input autocomplete="on" type="text" ng-model="model.user.state" placeholder="state" class="form-control " required>
                                    <span class="input-group-addon label-danger"><i class="fa fa-globe fa-lg text-white"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">City</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input autocomplete="on" type="text" ng-model="model.user.city" placeholder="city" class="form-control " required>
                                    <span class="input-group-addon label-danger"><i class="fa fa-globe fa-lg text-white"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Address</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input autocomplete="on" type="text" ng-model="model.user.address" placeholder="address" class="form-control" required>
                                    <span class="input-group-addon label-danger"><i class="fa fa-map-marker fa-lg text-white"></i></span>
                                </div>
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Tel</label>
                            <div class="col-sm-4">
                                <div class="input-group" data-validate="phone">
                                    <input id='txtPhone' ng-model="model.user.contact" type="tel" placeholder="(---)(---)(----)" class="form-control" required>
                                    <span class="input-group-addon danger"><i class="fa fa-phone fa-lg text-white"></i></span>
                                    <span id="spnPhoneStatus"></span>
                                </div>
                            </div>

                            <label class="col-sm-2 control-label" for="textinput">Postcode</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input id="postcode" ng-model="model.user.zipCode" type="text" placeholder="Post Code" class="form-control">
                                    <span ng-model="model.user.zipCode" class="input-group-addon bg-success"><i class="fa fa-map-marker fa-lg text-white"></i></span>
                                </div>
                            </div>
                        </div>

                        <button ng-click="model.x=3" class="btn btn-primary nextBtn col-md-6 col-xs-12 pull-right" type="button" >Next Step <i class="fa fa-angle-double-right"></i> </button>
                    </div>
                </div>
            </div>
            <!-- Wizard STEP 2 END -->

            <!-- Wizard STEP 3 -->
            <div class="row setup-content" id="step-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <p class="text-center">Almost Done! Use the form below to set your password. Your password cannot be the same as your username.</p>
                            <form method="post" id="passwordForm" novalidate>
                                <input type="password" ng-model="model.user.password"  class="form " name="password1" id="password1" placeholder="New Password" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                                    </div>
                                    <div class="col-sm-6">
                                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                                    </div>
                                </div>
                                <input ng-model="model.confirmPassword" type="password" class="form" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                                    </div>
                                </div>
                                <input type="submit" class="btn form-btn btn-block" ng-click="model.register(model.user,model.confirmPassword)" data-loading-text="Checking Password..." value="Register">
                            </form>
                        </div><!--/col-sm-6-->
                    </div><!--/row-->
                </div>
            </div>
            <!-- Wizard STEP 3 END -->
        </fieldset><!-- form contents END -->
    </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Check Username Availability</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Type Here</label>
                        <input ng-model="model.checkUserName" rows="3" class="form-control" id="message-text"></input>
                    </div>
                </form>
            </div>
            <div ng-show="model.available==1">
               <span> <i class="fa fa-thumbs-o-up "></i> Congratulations It Is Available!</span>
            </div>

            <div ng-show="model.available==2">
                    <span> <i class="fa fa-thumbs-down"></i> Not Available! Try Again</span>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                <a type="button" ng-click="model.findUserName(model.checkUserName)" class="btn btn-primary">Find</a>
            </div>
        </div>
    </div>
</div>

