div.border
{
    padding: inherit;
    white-space: nowrap;
    width: auto;
    border: 2px solid #eee;
    border-radius:3px;
    padding: 20px;

}

.edit
{
 padding-top: 24px;
}

.plus
{
 padding-left: 45px;
}
.b{
    white-space: nowrap;
}