<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.checkRootScope()"><a href="#/login">Login</a></li>
                <li ng-show="model.checkRootScope()"><a href="#/register">Register</a></li>
                <li ng-show="model.username"><a href="#/profile">{{model.username}}</a></li>
                <li ng-show="!model.checkRootScope()"><a ng-click="model.logout()" href="#/home">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>