.panel-default{
    border-collapse: #e9e9e9;
}

.form-box {
    margin-top: 35px;
    padding: 100px;

}

.box{
    background-image: url(img/bg.jpg);
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.custom1{
    text-align-last: center;
}

.control-label{
    text-align-last: left;
}
.thumbnail{
    border: hidden;
}
.panel {
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.page {
    white-space: nowrap;
    padding: 100px;
    font-size: 14px;
    line-height: 1.42857;
    color: #767676;
}

/*#map{
    height:800px;
    width:100%;
    white-space: nowrap;

}*/

#repeat{
    display: inline;
}
#country_container {
    width: 1000px;
    margin: 13px 3px 3px 0px;
    text-align: center;
    width: 85px;
    padding: 4px;
    display: inline-table;
    color: white;
    background-color: black;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid black;
    border-radius:13px;
}
#country_container:hover {
    box-shadow: 0px 0px 10px black;
    background-color: gray;
    border: 1px solid gray;
    cursor: pointer;
}
#names {
    cursor: pointer;
}


#map-info {
    height: 500px;
    width: auto;
    border: transparent;
}

#map-container {
    height: 100px;
    width : 100px;
    border: dashed;
}

/***************************************************/

#map {
    height: 400px;
    width: 100%;
    border: transparent;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;

}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    height: 100%;
    float: right;
    overflow: auto;
}

@media print {
    #map {
        height: 400px;
        margin: 0;
        width: 100%;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}


/***************************************************/


.field {
    display:flex;
    position:relative;
    margin:5em auto;
    width:70%;
    flex-direction:row;
    box-shadow:
            1px 1px 0 rgb(22, 160, 133),
            2px 2px 0 rgb(22, 160, 133),
            3px 3px 0 rgb(22, 160, 133),
            4px 4px 0 rgb(22, 160, 133),
            5px 5px 0 rgb(22, 160, 133),
            6px 6px 0 rgb(22, 160, 133),
            7px 7px 0 rgb(22, 160, 133)
;
}

.field>input[type=text],
.field>button {
    display:block;
    font:1.2em 'sans-serif';
}

.field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid rgb(26, 188, 156);
}

.field>button {
    padding:0.6em 0.8em;
    background-color:rgb(26, 188, 156);
    color:white;
    border:none;
}