
<div class="container-fluid page">
    <div class="row">
        <div class="page-header">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="active"><a href="#/showprofile">Profile</a></li>
                <li role="presentation"><a href="#/carpool">Create a Carpool</a></li>
                <li role="presentation"><a href="#/editprofile">Edit Profile</a></li>
                <li role="presentation"><a href="#/usercarpool">My CarPools</a></li>
            </ul>
        </div>

        <div class="col-md-2">
            <div class="thumbnail">
                <img src="https://case.edu/medicine/admissions/media/school-of-medicine/admissions/classprofile.png" >
            </div>

        </div>

        <div class="col-md-10">
            <form class="form-horizontal" ng-controller="ProfileController">

             <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    {{user.firstName}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                {{user.lastName}}
                </div>
            </div>

            <div class="form-group">
                    <label class="col-sm-2 control-label">User Name:</label>
                    <div class="col-sm-10">
                        {{user.userName}}
                    </div>
            </div>

             <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    {{user.email}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">DOB</label>
                <div class="col-sm-10">
                {{user.dob}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                {{user.country}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">State</label>
                <div class="col-sm-10">
                {{user.state}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                {{user.city}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-10">
                {{user.address}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code</label>
                <div class="col-sm-10">
                {{user.zipCode}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Contact No.</label>
                <div class="col-sm-10">
                {{user.contact}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="#/editprofile" class="btn btn-success btn-block">Edit Profile</a>
                </div>
            </div>
        </form>
        </div>
        </div>
</div>