<div ng-controller="ChatController">


<ul id="messages"></ul>
<form style="padding-top: 150px" class="form-horizontal">


    <div class="form-group">
        <label class="col-sm-2 control-label">From User</label>
        <div class="col-sm-4">
            <select ng-model="model.message.fromUser" class="form-control" name="repeatFromUser" id="repeatFromUser">
                <option ng-repeat="user in model.userList" value="{{user.username}}">{{user.username}} | {{user.firstName}} {{user.lastName}}</option>
            </select>
        </div>

        <label class="col-sm-1 control-label">To User</label>
        <div class="col-sm-5">
            <select ng-model="model.message.toUser" class="form-control" name="repeatToUser" id="repeatToUser" >
                <option ng-repeat="user in model.userList" value="{{user.username}}">{{user.username}} | {{user.firstName}} {{user.lastName}}</option>
            </select>
        </div>
    </div>


    <input ng-model="model.message.msg">

    <a ng-click="model.send(model.message)">Send</a>

    <a ng-click="model.disconnect()">Disconnet</a>

    <div style="background-color: #6DD1C9"><h3>{{model.mymsg}}</h3>
    </div>

</form>

</div>



<div class="container page">
    <div class="row ">
        <h3 class="text-center" >BOOTSTRAP CHAT EXAMPLE </h3>
        <br /><br />

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ONLINE USERS
                </div>

                <div class="panel-body">
                    <ul class="media-list">

                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                    </a>
                                    <div class="media-body" >
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>

                <div class="panel-body">
                    <ul class="media-list">

                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="assets/img/user.png" />
                                    </a>
                                    <div class="media-body" >
                                        Donec sit amet ligula enim. Duis vel condimentum massa.

                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br />
                                        <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="assets/img/user.gif" />
                                    </a>
                                    <div class="media-body" >
                                        Donec sit amet ligula enim. Duis vel condimentum massa.

                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br />
                                        <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="assets/img/user.png" />
                                    </a>
                                    <div class="media-body" >
                                        Donec sit amet ligula enim. Duis vel condimentum massa.

                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br />
                                        <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " src="assets/img/user.gif" />
                                    </a>
                                    <div class="media-body" >
                                        Donec sit amet ligula enim. Duis vel condimentum massa.

                                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                                        Duis vel condimentum massa.
                                        Donec sit amet ligula enim. Duis vel condimentum massa.
                                        <br />
                                        <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                        <hr />
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button">SEND</button>
                                    </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
