
<div class="container-fluid">
    <div class="row" ng-controller="AdminController">

            <h1 class="page-header">Admin</h1>
            <h3> Users </h3>

            <div ng-if="model.error" class="alert alert-success" role="alert">
                {{model.error}}
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        <a ng-click="model.sortType = 'username'; model.sortReverse = !model.sortReverse">
                        <span ng-show="model.sortType == 'username' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="model.sortType == 'username' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        User Name
                        </a>
                    </th>

                    <th> Password</th>

                    <th>
                        <a ng-click="model.sortType = 'firstname'; model.sortReverse = !model.sortReverse">
                        <span ng-show="model.sortType == 'firstname' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="model.sortType == 'firstname' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                        First Name
                        </a>
                    </th>

                    <th>
                        <a ng-click="model.sortType = 'lastname'; model.sortReverse = !model.sortReverse">
                            <span ng-show="model.sortType === 'lastname' && !model.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="model.sortType === 'lastname' && model.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                            Last Name
                    </a>
                    </th>

                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td><input type="text" ng-model="model.selectedUser.username" class="form-control" placeholder="username"/></td>
                    <td><input type="password" ng-if="!model.selectedUserId" ng-model="model.selectedUser.password" class="form-control" placeholder="password"></td>
                    <td><input type="text" class="form-control" ng-model="model.selectedUser.firstName" placeholder="first name"/></td>
                    <td><input type="text" class="form-control" ng-model="model.selectedUser.lastName" placeholder="last name"></td>
                    <td><input type="text" class="form-control" ng-model="model.selectedUser.roles" placeholder="role1,role2"/></td>

                    <td class="b">
                        <a ng-click="model.add(model.selectedUser)" class="btn btn-success" aria-label="Left Align">
                           <span class="glyphicon glyphicon-plus "></span>
                        </a>

                        <a ng-click="model.update(model.selectedUser)" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok "></span>
                        </a>
                    </td>
                </tr>

                <tr ng-repeat="user in model.users | orderBy: model.sortType:model.sortReverse">

                    <td>{{user.username}}</td>
                    <td>...</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td class="b">
                        <a ng-click="model.deleteUser(user)" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>

                        <a ng-click="model.select(user)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-cog "></span>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
            </div>

        </div>
    </div>
