
<div class="container-fluid">
    <div class="row" ng-controller="AdminController as model">

            <h1 class="page-header">Admin</h1>
            <h3> Users </h3>

            <div ng-if="model.error" class="alert alert-success" role="alert">
                {{model.error}}
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        <a ng-click="model.Sort('username', userNameBottom)">
                            <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="userNameBottom == -1"></span>
                            <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="userNameBottom == 1"></span>
                            Username
                        </a>
                    </th>

                    <th> Password</th>

                    <th>
                        <a ng-click="model.Sort('firstName', firstNameBottom)">
                            <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="firstNameBottom == -1"></span>
                            <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="firstNameBottom == 1"></span>
                            First Name
                        </a>
                    </th>

                    <th>
                        <a ng-click="model.Sort('lastName', lastNameBottom)">
                            <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="lastNameBottom == -1"></span>
                            <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="lastNameBottom == 1"></span>
                            Last Name
                        </a>
                    </th>

                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="model.selectedUser.username" class="form-control" placeholder="username"/></td>
                    <td><input type="password" ng-if="!model.selectedUserId" ng-model="model.selectedUser.password" class="form-control" placeholder="password"></td>
                    <td><input type="text" class="form-control" ng-model="model.selectedUser.firstName" placeholder="first name"/></td>
                    <td><input type="text" class="form-control" ng-model="model.selectedUser.lastName" placeholder="last name"></td>
                    <td><input type="text" class="form-control" ng-model="model.selectedUser.roles" placeholder="role1,role2"/></td>

                    <td class="b">
                        <a ng-click="model.add(model.selectedUser)" class="btn btn-success" aria-label="Left Align">
                           <span class="glyphicon glyphicon-plus "></span>
                        </a>

                        <a ng-click="model.update(model.selectedUser)" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok "></span>
                        </a>
                    </td>
                </tr>

                <tr ng-repeat="user in model.users | orderBy: model.sortType:model.sortReverse">

                    <td>{{user.username}}</td>
                    <td>...</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.roles}}</td>
                    <td class="b">
                        <a ng-click="model.deleteUser(user)" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>

                        <a ng-click="model.select(user)" class="btn btn-primary">
                            <span class="glyphicon glyphicon-cog "></span>
                        </a>
                    </td>

                </tr>
                </tbody>
                    {{model.sortType}}
            </table>
            </div>

        </div>
    </div>
