<div class="container-fluid page">


    <div class="row ">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2 class="main-title">My CarPool's</h2>
            <hr>
            <div class="divide50"></div>
        </div>
    </div>



    <div class="row">

        <div class="table-responsive">
            <table class="table table-resposive table-hover">
                <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Deactivate</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="pool in model.carPools">
                    <td>{{pool.source}}</td>
                    <td>{{pool.destination}}</td>
                    <td>{{pool.time}}</td>
                    <td>{{pool.date | date}}</td>
                    <td>
                        <a ng-click="model.selectCarPool($index)" class="btn btn-success btn-block" aria-label="Left Align">
                        Update
                        </a>
                    </td>
                    <td>
                        <a ng-click="model.deleteCarPool($index)" class="btn btn-danger btn-block" aria-label="Left Align">
                        Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <form class="form-horizontal" ng-show="model.selectedPool!=null">
            <div class="form-group">
                <label class="col-sm-2 control-label">Source</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.source" id="origin-input" type="text" class="form" placeholder="Source"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Destination</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.destination" id="destination-input" type="text" class="form" placeholder="Destination"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.date" class="form" type="date">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Time</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.time" class="form" placeholder="time">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Car Info</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.carInfo" class="form" placeholder="carInfo">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Base Price</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.basePrice" class="form" placeholder="$">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">No. Of Seats</label>
                <div class="col-sm-10">
                    <input ng-model="model.selectedPool.noOfSeats" class="form" placeholder="No of Seats Available">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="model.updateCarPool(model.selectedPool)" class="btn form-btn btn-block">Update Carpool</a>
                </div>
            </div>
        </form>


    </div>
</div>