<!-- Intro Section -->
<section id="intro" class="intro-section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
                <div class="field" id="searchform">
                    <input ng-model="model.city" type="text" id="searchterm" placeholder="Type Here to Search Carpool?" />
                    <button ng-click="model.findCarPool(model.city)" type="button" id="search">Find!</button>
                </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
               <div class="table-responsive" ng-show="model.carPools">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Source</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Destination</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Time</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Date</th>
                            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Details</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="pool in model.carPools">
                            <td>{{pool.source}}</td>
                            <td>{{pool.destination}}</td>
                            <td>{{pool.time}}</td>
                            <td>{{pool.date}}</td>
                            <td>
                                <a ng-click="model.details($index)" class="btn btn-success btn-block" aria-label="Left Align">
                                    Details
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
               </div>
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h3>Login For Following Privilege</h3>
                    <h6>Email: alice@abc.com Password: alice</h6>
                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation">Profile</li>
                        <li role="presentation">Create a Carpool</li>
                        <li role="presentation">Edit Profile</li>
                        <li role="presentation">My Carpools</li>

                    </ul>
                </div>
                <div class="page-header">
                    <h3>CRUD & API USAGES</h3>
                    <ul class="nav nav-pills nav-justified">
                        <li role="presentation"><a href="#/carpoolcrud">CarPool/API CRUD</a></li>
                        <li role="presentation"><a href="#/admin">Admin CRUD</a></li>
                        <li role="presentation"><a href="#/message">Message CRUD</a></li>
                        <li role="presentation"><a href="#/ratingcrud">Rating CRUD</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>




<!-- Intro -->
<div id="about">
    <div class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="text-center">
                    <h2 class="main-title">About our company</h2>
                    <hr>
                </div>
                <div class="divide50"></div>
                <div class="col-sm-4">
                    <figure><img src="" alt="" style="width: 100%;"></figure>
                </div>
                <div class="col-sm-8">
                    <h4>Our Working Place</h4>
                    <p>Vestibulum ligut praesent commodo cursus magna, consectetur et. Cum socis natoque penatibus et magnis dis tellus parturient pharetra montes. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                </div>
            </div>
            <div class="divide50"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Our Journeys</h4><hr>
                    <p>Duis non lectus sit amet est imperdiet cursus elementum vitae eros. Etiam adipiscingmorbi vitae magna tellus.</p>
                    <div class="divide5"></div>
                    <ul class="progress-list">
                        <li>
                            <p>Asia <em>90%</em></p>
                            <div class="progress plain">
                                <div class="bar" style="width: 90%;"></div>
                            </div>
                        </li>
                        <li>
                            <p>Australia <em>80%</em></p>
                            <div class="progress plain">
                                <div class="bar" style="width: 80%;"></div>
                            </div>
                        </li>
                        <li>
                            <p>America <em>85%</em></p>
                            <div class="progress plain">
                                <div class="bar" style="width: 85%;"></div>
                            </div>
                        </li>
                        <li>
                            <p>Europe <em>50%</em></p>
                            <div class="progress plain">
                                <div class="bar" style="width: 50%;"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- /.progress-list -->
                </div>
                <!-- /.col -->

                <div class="col-sm-4">
                    <h4>Why Choose Us?</h4><hr>
                    <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. </p>
                    <div class="divide10"></div>
                    <ol class="color">
                        <li>Donec ullamcorper nulla non metus auctor.</li>
                        <li>Cras justo odio, dapibus ac facilisis in egestas.</li>
                        <li>Praesent commodo cursus magna.</li>
                        <li>Curabitur blandit tempus porttitor.</li>
                        <li>Sed posuere consectetur est at lobortis.</li>
                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                    </ol>
                </div>
                <!-- /.col -->

                <div class="col-sm-4">
                    <h4>Our Transports</h4><hr>
                    <div class="divide10"></div>
                    <div class="services-2">
                        <div class="icon"> <img src="img/icon-web.png" data-src="style/images/icons/icon-web.png" data-ret="style/images/icons/icon-web@2x.png" class="retina" alt="" /> </div>
                        <!-- /.icon -->
                        <div class="text">
                            <h5>Responsive Layout</h5>
                            <p>Etiam porta malesuada magna.</p>
                        </div>
                        <!-- /.text -->
                        <div class="divide20"></div>
                        <div class="icon"> <img src="img/icon-heart.png" data-src="style/images/icons/icon-heart.png" data-ret="style/images/icons/icon-heart@2x.png" class="retina" alt="" /> </div>
                        <!-- /.icon -->
                        <div class="text">
                            <h5>Flat & Clean design</h5>
                            <p>Etiam porta malesuada.</p>
                        </div>
                        <!-- /.text -->
                        <div class="divide20"></div>
                        <div class="icon"> <img src="img/icon-print.png" data-src="style/images/icons/icon-print.png" data-ret="style/images/icons/icon-print@2x.png" class="retina" alt="" /> </div>
                        <!-- /.icon -->
                        <div class="text">
                            <h5>Print Design</h5>
                            <p>Etiam porta malesuada magna.</p>
                        </div>
                        <!-- /.text -->

                    </div>
                    <!-- /.services-2 -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /.light-wrapper -->
</div>
<!-- /Intro -->


<!-- About Section -->
    <div class="container">
        <div class="row" ng-controller="HomeController">
                <div class="col-md-4 col-md-offset-4 text-center">
                <h2 class="main-title"> Current Carpools</h2>
                <hr>
                </div>
                <br/>
                <br/>
                    <div class="table table-responsive" id="map" class="map">

                    </div>

                    <div class="col-md-4 col-md-offset-4 text-center">
                        <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                            <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                                <label id="names" >{{marker.title}}</label></a>
                        </div>
                    </div>

        </div>
    </div>

<!-- Services -->
<div id="services" class="services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <h2 class="main-title">Our Services</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="divide50"></div>
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="service-item">
                                    <i class="service-icon fa fa-plane"></i>
                                    <h4 class="service-title">Great Transport</h4>
                                    <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="service-item">
                                    <i class="service-icon fa fa-usd"></i>
                                    <h4 class="service-title">Not Expensive</h4>
                                    <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="service-item">
                                    <i class="service-icon fa fa-cutlery"></i>
                                    <h4 class="service-title">Delicious Food</h4>
                                    <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="service-item">
                                    <i class="service-icon fa fa-camera"></i>
                                    <h4 class="service-title">Best Photographer's</h4>
                                    <p class="service-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!-- /Services -->

<!-- Portfolio -->
<div id="places" class="places">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2 class="main-title">Our Satisfied Customers</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="divide50"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/paris.jpg" alt="paris" class="img-responsive center-block">
                        <figcaption>
                            <h2>Paris</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/sydney.jpg" alt="sydney" class="img-responsive center-block">
                        <figcaption>
                            <h2>Sydney</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class= "row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/washington.jpg" alt="washington" class="img-responsive center-block">
                        <figcaption>
                            <h2>Washington</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/london.jpg" alt="london" class="img-responsive center-block">
                        <figcaption>
                            <h2>London</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/statue_of_liberty.jpg" alt="statue_of_liberty" class="img-responsive center-block">
                        <figcaption>
                            <h2>U.S.A</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/pizza_tower.jpg" alt="pizza_tower" class="img-responsive center-block">
                        <figcaption>
                            <h2>Pizza Tower</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / End Portfolio -->

<!-- Contact Section -->
            <div id="contact" class="container parallax">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2 class="main-title">Contact us</h2>
                    <hr>
                    <div class="divide50"></div>
                </div>
                <!-- Contact Inner -->
                <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <form id="contact-us" method="post" action="#">
                            <!-- Left Inputs -->
                            <div class="col-xs-6 col-xs-12 animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <!-- Name -->
                                <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                                <!-- Email -->
                                <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                                <!-- Subject -->
                                <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                            </div><!-- End Left Inputs -->
                            <!-- Right Inputs -->
                            <div class="col-xs-6 col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="400">
                                <!-- Message -->
                                <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                            </div><!-- End Right Inputs -->
                            <!-- Bottom Submit -->
                            <div class="relative fullwidth col-xs-12">
                                <!-- Send Button -->
                                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button>
                            </div><!-- End Bottom Submit -->
                            <!-- Clear -->
                            <div class="clear"></div>
                        </form>

                        <!-- Your Mail Message -->
                        <div class="mail-message-area">
                            <!-- Message -->
                            <div class="alert gray-bg mail-message not-visible-message">
                                <strong>Thank You !</strong> Your email has been delivered.
                            </div>
                        </div>

                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->
            </div>
<!-- End Contact Section -->


