

<!-- Full Page Image Header Area -->
<div id="page-top" class="header">
    <div class="vert-text parallax">
        <h1 class="header-text">Pay Less Travel More</h1>
        <div  class="field" id="searchfor">


            <!--<div angucomplete-alt-->
                          <!--placeholder="Search for other developers"-->
                          <!--pause="500"-->
                          <!--selected-object="selectedUser"-->
                          <!--remote-url="/api/carpool/search/"-->
                          <!--title-field="location"-->
                          <!--minlength="2"-->
                          <!--input-class="form-control form-control-small"-->
                          <!--match-class="highlight">-->
            <!--</div>-->


                <input style="margin:0 auto;"
                       angucomplete-alt
                       pause="500"
                       selected-object="selectedUser"
                       remote-url="/api/carpool/search/"
                       title-field="location"
                       minlength="2"
                       input-class="form-control form-control-small"
                       match-class="highlight"

                       ng-model="model.city"
                       type="text"
                       id="searchterm"
                       placeholder="Type Here to Search Carpool ex. Boston" />

            <button ng-click="model.findCarPool(model.city)" type="button" id="search">Find!</button>
        </div>
        <a href="#about" class="btn btn-default header-btn">Find Out More</a>

        <br/>
        <a href=""><img ng-src="img/direction.png" class="space" alt="Direction"></a>
    </div>
</div>

<!-- Intro -->
<div id="about">
    <div class="light-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="text-center">
                    <h2 class="main-title-home">About our company</h2>
                    <hr>
                </div>
                <div class="divide50"></div>
                <div class="col-sm-12">
                    <h4>Our Concept</h4>
                      <p>I propose to design a system that provides a user with rideshare/carpool facilities available around him. A user is provided with a feature to find local passengers with similar travel plans, common routes or even common destinations, thus providing cost-effective transportation, reduce pollution due to traffic emission and also make easy cash on the way. I have observed that students at my university post on social media platforms like Facebook i.e. in university groups about various rideshare/carpools opportunities in order to save some cash, not only this sometimes they also use class discussion forums like Piazza to find some people to share their ride.</p>
                    </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.light-wrapper -->
</div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2 class="main-title-home">Our Services</h2>
                <hr>
            </div>
        </div>
        <div class="divide50"></div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon glyphicon glyphicon-road"></i>
                    <h4 class="service-title">Great Transport</h4>
                    <p class="service-desc">Wide range of ride sharing options</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon glyphicon glyphicon-usd"></i>
                    <h4 class="service-title">Not Expensive</h4>
                    <p class="service-desc">You pay less, others make more</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon glyphicon glyphicon-map-marker"></i>
                    <h4 class="service-title">Explore Places</h4>
                    <p class="service-desc">Share rides to explore places</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="service-item">
                    <i class="service-icon glyphicon glyphicon-send"></i>
                    <h4 class="service-title">Save Money</h4>
                    <p class="service-desc">Cheap cash safe randes rides where ever you go</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->


<!-- Callout -->
<div class="callout">
    <div class="vert-text">
        <h1 class="main-title-home parallax2">Your Travellers Guide
        </h1>
        </div>
    </div>
</div>
<!-- /Callout -->


<!-- Portfolio -->
<div id="places" class="places">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2 class="main-title-home">Our Satisfied Customers</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="divide50"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/paris.jpg" alt="paris" class="img-responsive center-block">
                        <figcaption>
                            <h2>Paris</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Our Perople are Very Happy
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/sydney.jpg" alt="sydney" class="img-responsive center-block">
                        <figcaption>
                            <h2>Sydney</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                New Ways to Share Ride and Money -- Impressive
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class= "row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/washington.jpg" alt="washington" class="img-responsive center-block">
                        <figcaption>
                            <h2>Washington</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                Save Money and Fuel and free bonus less Polution ;)
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="grid center-block">
                    <figure class="effect-zoe">
                        <img src="img/london.jpg" alt="london" class="img-responsive center-block">
                        <figcaption>
                            <h2>London</h2>
                            <p class="icon-links">
                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                <a href="#"><i class="fa fa-eye"></i></a>
                                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                            </p>
                            <p class="description">
                                London looks forward to support this idea!.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- / End Portfolio -->



<!-- Contact Section -->
<div id="contact" class="container parallax">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2 class="main-title">Contact us</h2>
        <hr>
        <div class="divide50"></div>
    </div>
    <!-- Contact Inner -->
    <div class="inner contact">
        <!-- Form Area -->
        <div class="contact-form">
            <!-- Form -->
            <form id="contact-us">
                <!-- Left Inputs -->
                <div class="col-md-6 col-md-12 animated" data-animation="fadeInLeft" data-animation-delay="300">
                    <!-- Name -->
                    <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                    <!-- Email -->
                    <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                    <!-- Subject -->
                    <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                </div><!-- End Left Inputs -->

                <!-- Right Inputs -->
                <div class="col-md-6 col-md-12 animated" data-animation="fadeInRight" data-animation-delay="400">
                    <!-- Message -->
                    <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                </div><!-- End Right Inputs -->
                <!-- Bottom Submit -->
                <div class="relative fullwidth col-xs-12">
                    <!-- Send Button -->
                    <a type="submit" name="submit" class="btn form-btn semibold">Send Message</a>
                </div><!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
            </form>

            <!-- Your Mail Message -->
            <div class="mail-message-area">
                <!-- Message -->
                <div class="alert gray-bg mail-message not-visible-message">
                    <strong>Thank You !</strong> Your email has been delivered.
                </div>
            </div>

        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->
</div>
<!-- End Contact Section -->


<!-- About Section -->
<div class="">
    <div class="row" >
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2 class="main-title-home">  Carpools</h2>
            <hr>
        </div>
        <br/>
        <br/>

        <div class="table table-responsive" id="map" class="map-home">
        </div>
    </div>
</div>
<!-- About Section -->



