<ul class="nav nav-sidebar" ng-controller="SidebarController as model">
        <li ng-class="{'active': model.$location.url() == '/home'}"><a href="#/home">Home</a></li>
        <li ng-show ="model.checkLogin()" ng-class="{'active': model.$location.url() == '/profile'}"><a href="#/profile">Profile</a></li>
        <!--<li ng-show ="checkAdmin()" ng-class="{'active': model.$location.url() == '/admin'}"><a href="#/admin">Admin</a></li>-->
        <li ng-show ="model.checkLogin()" ng-class="{'active': model.$location.url() == '/forms' || model.$location.url() == '/fields'}"><a href="#/forms">Forms</a></li>
</ul>
