<div class="container-fluid page">
    <div class="row">

        <div class="page-header">
            <h1>CARPOOL DETAILS</h1>
        </div>

        <form class="form-horizontal" >
            <div class="form-group">
                <label class="col-sm-2 control-label">Source</label>
                <div class="col-sm-10">
                    {{model.selectedPool.source}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Destination</label>
                <div class="col-sm-10">
                    {{model.selectedPool.destination}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    {{model.selectedPool.date}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Time</label>
                <div class="col-sm-10">
                    {{model.selectedPool.time}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Car Info</label>
                <div class="col-sm-10">
                    {{model.selectedPool.carInfo}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Base Price</label>
                <div class="col-sm-10">
                  {{model.selectedPool.basePrice}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">No. Of Seats</label>
                <div class="col-sm-10">
                    {{model.selectedPool.noOfSeats}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="model.ContactUser(model.selectedPool)" class="btn btn-success btn-block">Update Carpool</a>
                </div>
            </div>
        </form>
    </div>

    <div class="row" >
        <div class="map-container"></div>

        <div class="table-responsive" >
            <br>
            <table class="table table-stripped table-bordered">
                <thead>
                <th>Details:</th>
                </thead>
                <tbody>
                <tr>
                    <td>Origin :</td>
                    <td>{{model.legs.start_address}} ({{model.legs.start_location.lat}},{{model.legs.start_location.lng}})</td>
                </tr>
                <tr>
                    <td>Destination :</td>
                    <td>{{model.legs.end_address}} ({{model.legs.end_location.lat}},{{model.legs.end_location.lng}})</td>
                </tr>
                <tr>
                    <td>Distance :</td>
                    <td>{{model.legs.distance.text}}</td>
                </tr>
                <tr>
                    <td>Time :</td>
                    <td>{{model.legs.duration.text}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" >
        <div id="map" class="col-md-8"></div>
        <div id="right-panel" class="col-md-4"></div>
    </div>

</div>