
<div class="container container-contact bootstrap snippets carpoolbody">
    <div class="row decor-default">
        <div class="col-md-12">
            <div class="contact">
                <div class="controls">
                    <<div class="icon icon-close">
                    <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar" class="avatar z-depth-3">
                    </div>

                    <div id="map" class="cover" alt="cover"></div>


                </div>

                <div class="row">
                    <div class="col-md-4 col-md-5 col-xs-12">
                        <div id="right-panel"></div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-xs-12">
                        <p class="contact-description">
                        <form class="form-horizontal" >

                            <div class="form-group">
                                <label class="col-md-3 col-lg-2">Source</label>
                                <div class="col-md-4 col-lg-5 ">
                                    {{model.selectedPool.destination}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-lg-2">Destination</label>
                                <div  class="col-md-4 col-lg-5 ">
                                    {{model.selectedPool.destination}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-lg-2">Date</label>
                                <div class="col-md-4 col-lg-5 ">
                                    {{model.selectedPool.date}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-lg-2">Time</label>
                                <div class="col-md-4 col-lg-5 ">
                                    {{model.selectedPool.time}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-lg-2">Car Info</label>
                                <div class="col-md-4 col-lg-5 ">
                                    {{model.selectedPool.carInfo}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-lg-2">Base Price</label>
                                <div class="col-md-4 col-lg-5 ">
                                    {{model.selectedPool.basePrice}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-sm-6">No. Of Seats</label>
                                <div class="col-md-4 col-sm-6 ">
                                    {{model.selectedPool.noOfSeats}}
                                </div>
                            </div>
                        </form>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
