
<div class="container-fluid page" ng-controller="CarPoolController">
    <div class="row">

        <div class="page-header">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="">Profile</a></li>
            <li role="presentation" class="active"><a href="">Create a Carpool</a></li>
            <li role="presentation"><a href="">Edit Profile</a></li>
            <li role="presentation"><a href="">Message Box</a></li>
            <li role="presentation"><a href="">My CarPools</a></li>
        </ul>
       </div>

        <div class="col-md-8">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Source</label>
                <div class="col-sm-10">
                    <input ng-model="pool.source" type="text" class="form-control" placeholder="Source"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Destination</label>
                <div class="col-sm-10">
                    <input ng-model="pool.destination" type="text" class="form-control" placeholder="Destination"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                    <input ng-model="pool.date" class="form-control" type="date">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Time</label>
                <div class="col-sm-10">
                    <input ng-model="pool.time" class="form-control" placeholder="time">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Car Information</label>
                <div class="col-sm-10">
                    <input ng-model="pool.carInfo" class="form-control" placeholder="carInfo">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Base Price</label>
                <div class="col-sm-10">
                    <input ng-model="pool.basePrice" class="form-control" placeholder="$">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Number Of Seats</label>
                <div class="col-sm-10">
                    <input ng-model="pool.noOfSeats" class="form-control" placeholder="No of Seats Available">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ng-click="createCarPool()" class="btn btn-success btn-block">Create Carpool</a>
                </div>
            </div>
        </form>
        </div>

        <div class="col-md-4">
            <div class="google-map-canvas" id="map-canvas">
        </div>




    </div>
</div>
