<div class="container-fluid page">
    <div class="row">
        <div class="page-header">
            <ul class="nav nav-pills nav-justified">
                <li role="presentation"><a href="">Profile</a></li>
                <li role="presentation"><a href="">Create a Carpool</a></li>
                <li role="presentation"><a href="">Edit Profile</a></li>
                <li role="presentation"><a href="">Message Box</a></li>
                <li role="presentation" class="active"><a href="">My CarPools</a></li>
            </ul>
        </div>

        <div class="table-responsive" ng-controller="UserCarPoolController">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Source</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Destination</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Time</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Date</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Deactivate</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="pool in carPools">
                    <td>{{pool.source}}</td>
                    <td>{{pool.destination}}</td>
                    <td>{{pool.time}}</td>
                    <td>{{pool.date}}</td>
                    <td>
                        <a ng-click="deleteForm($index)" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>